body {
    background-color: #4ba3dfb9;
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    margin: auto;
}

select{
    width: 200px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}